.events {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  .icon {
    color: #ff453a;
  }
  .title {
    font-weight: 400;
    color: #a5a5a5;
  }
  .eventsCount {
    color: #a5a5a5;
    padding: 0 0.25rem;
    border-radius: 2rem;
    font-size: 14px;
  }

  &:hover {
    cursor: pointer;
    background-color: #272727;
    .title {
      color: white;
    }
  }
}
