.settings {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  .icon {
    color: #5a5a5a;
  }
  .title {
    font-weight: 500;
    color: #a5a5a5;
  }

  &:hover {
    cursor: pointer;
    background-color: #272727;
  }
}
